.wrap {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.error {
  color: red;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding:20px 10px 0px 10px;
  width: 50%;

}
.field {
  margin-bottom: 10px;
}
.label {
  font-weight: bold;
}
.input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 18px;
  width: 220px;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
.button {
  background-color: cadetblue;
  border-radius: 3px;
  padding:15px;

}
